@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
/* karla-200 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/karla-v21-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/karla-v21-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v21-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v21-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v21-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v21-latin-200.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-300 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/karla-v21-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/karla-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v21-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v21-latin-300.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/karla-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/karla-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v21-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}

:root {
  --1: #7E2F38; /*dark red*/
  --2: #FFBAC2; /*light pink*/
  --3: #FCFBF7; /*whiteish*/
  --4: #B15433; /*orange*/
  --5: #BA4250; /*Megenta*/

  --6: #588175; /*medium green*/
  --7: #AECAC0; /*light green*/
  
  --8: #404040; /* Dark grey */
}

/* Text styles */

h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 75px;

  color: var(--2);

  line-height: 95.3%;
  letter-spacing: 10px;
  text-align: center;
  text-indent: 0px;

  margin: 0;
 padding: 0;
 margin-bottom: 18px;
} 


h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
  

  color: var(--3);
  line-height: 95.3%;

  text-align: center;
 

  margin: 0;
  padding: 0;
  
} 

h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 35px;

  color: var(--2);

  text-align: center;
  line-height: normal;
  margin: 0px;
}

h4 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: normal;
  
  color: var(--3);
  
margin: 0;
  } 

  .extra {
    margin-top: 25px;
  }

  h5 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: normal;
    text-align: center;
    
    color: var(--3);
    
  margin: 0;
    } 

    /* contact page text */
   #contact h3 {
      font-family: 'Karla';
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: normal;
      text-align: center;

      color: var(--3);
    }

    #contact h4 {
      font-family: 'Karla';
      font-style: normal;
      font-weight: 200;
      font-size: 35px;
      line-height: normal;
      text-align: center;

      color: var(--3);
    }

p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;

  line-height: 133.4%;

  margin-top: 10px;
  margin-bottom: 10px;
  
  color: var(--3);
}

a{
  color: var(--3);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: var(--1);
}

ul {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
  
    line-height: 133.4%;
  
    margin-top: 10px;
    margin-bottom: 0px;
    
    color: var(--3);
}

/* Line on main page */

hr {
  border: 1.5px solid var(--3);
  width: 310px;
  margin: 30px auto 30px auto;
}

.links a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 17px;

  color: var(--3);
  text-decoration: none;
  letter-spacing: 2px;
}

.links a:hover {
  text-decoration: 1px  line-through var(--3);
}

.hamNav a {
display: none;
}


/* Menu Button Icon */
a.toggle-nav {
  display: none;
}



/* add div back to make work */
/* #active a, #active2 a{
  text-decoration: 1px  line-through var(--3);
} */


/* use thing for drop down link menu */
/* #active a:hover{
  text-decoration: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--3);
font-size: 14px;

  padding: 5px 3px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover #active a{
  text-decoration: none;
} */


/* Structure */

body {
  background: var(--4);

}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

padding: 25px 90px 40px 40px;

}

.links {
  display: flex;
  justify-content: space-between;

  width: 30%;
}

/* Header on all pages */

nav svg {
width: 70px;
}

#rosebg {
  background-image: url("../img/imgbg/longrose.png");
  background-size: 360px;
  background-repeat: no-repeat;
  background-position: 53% -12px; 

height: 455px;
}

#rosebgShort {
  background-image: url("../img/imgbg/longrose.png");
  background-size: 360px;
  background-repeat: no-repeat;
  background-position: 55% -12px; 

  
height: 280px;

}

#intro {
  padding-top: 116px;
}

#rosebgShort #intro{
  padding-top: 88px;
}

/* Back to Top Button */


#toTop {
  display: none; 
  position: fixed; 
  bottom: 40px; 
  right: 40px; 
  line-height: 10px;
  z-index: 99; 
  border: none; 
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.2);
  cursor: pointer; 
  padding: 19px 16px 19px 16px; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: background-color 0.2s;
}

#toTop:hover {
  background-color: rgba(225, 225, 225, 0.4);
}

#toTop svg path {
  stroke: var(--3);
}

/* For all */

main {
  background-image: url("../img/imgbg/longBG.png");
  background-size: 100%;
  
  background-repeat: repeat;
    
}


#portfolio {
  padding-bottom: 70px;
  padding-top: 50px;
  margin-bottom: 85px;
}

/* Portfolio Categories Grid */

.portfolioGrid {
  display: grid;
grid-template: repeat(4, 200px) / repeat(4, 200px);
width: 800px;
  /* display: flex;
  flex-wrap: wrap; */
  margin: auto;
}

#bottomRight {
  grid-area: 3 / 3 / span 2 / span 2;
  z-index: 1;
  -webkit-transition: z-index 1000s;
}

#bottomRight:hover {
  z-index: 4;
  -webkit-transition: z-index 0s;
}

#bottomRight:hover ~ #middle {
  z-index: 3;
  -webkit-transition: z-index 0s;
}

#bottomRight:hover ~ #topLeft {
  z-index: 2;
  -webkit-transition: z-index 0s;
}

#middle {
  grid-area: 2 / 2 / span 2 / span 2;
  z-index: 3;
  -webkit-transition: z-index 1000s;
}

#middle:hover {
  z-index: 4;
  -webkit-transition: z-index 0s;
}

#middle:hover ~ #bottomRight {
  z-index: 0;
  -webkit-transition: z-index 0s;
}

#middle:hover ~ #topLeft {
  z-index: 0;
  -webkit-transition: z-index 0s;
}

#topLeft {
  grid-area: 1 / 1 / span 2 / span 2;
  z-index: 1;
  -webkit-transition: z-index 1000s;
}

#topLeft:hover {
  z-index: 4;
  -webkit-transition: z-index 0s;
}

#topLeft:hover ~ #middle {
  z-index: 2;
  -webkit-transition: z-index 0s;
}

#topLeft:hover ~ #bottomRight {
  z-index: 1;
  -webkit-transition: z-index 0s;
}

/* Project grid */

.projectGrid {
  display: grid;
  grid-template: repeat(8, 53px) / 360px 360px;
  gap: 50px;

  justify-content: center;
}

.projectGrid hr {
  width: 80px;
  margin: 18px auto 11px auto;
}

.projectGrid h2 {
letter-spacing: normal;
text-indent:0;
}

#a {
  grid-area: 1 / 1 / span 2 / 1;
}

#b {
  grid-area: 2 / 2 / span 2 / 2;
}

#c {
  grid-area: 5 / 1 / span 2 / 1;
}

/* Portfolio Categories Hover and Styles */

.portfolioImg a {
  background: var(--5);
  position: relative;
    height: 400px;
    width: 400px;
}

/* For the smaller images on category pages */
.projectGrid a {
  height: 360px;
  width: 360px;
}

.portfolioImg img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  
  box-shadow: 0px 0px 15px 0px var(--1);
}

/* For the smaller images on category pages */
.projectGrid img {
  height: 360px;
  width: 360px;
}

.img__description_layer {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 0;
  bottom: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s, visibility 0.2s;
}

/* For the smaller images on category pages */
.imgD2 {
    height: 360px;
    width: 360px;
}

.portfolioImg a:hover img {
  box-shadow: 0px 0px 15px 0px var(--1);
  opacity: 0.25;
}

a:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
} 

/* About Page */

#about {
  display: flex;
  justify-content: center;
  gap: 70px;

  padding: 100px;
  margin-bottom: 70px;
}

#about img {
height: auto;
width: 30%;
min-width: 270px;
align-self: flex-start;
}

#info {
  width: 600px;

  align-self: center;
}

/* Contact Page */

#contact{
  margin-top: 70px;
}

#contactLinks {
  display: flex;
  justify-content: space-around;

  margin: 60px 35% 100px 35%;
}

#contactLinks a:hover svg path{
  fill: var(--2);
}


/* Just Project pages */

/* Top Images and Videos */

.wowVideo {
  width: 75%;
  border-radius: 15px;
  
  display: block;

  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
} 

#projHeader {
  height: 400px;
  width: 75%; 
  border-radius: 15px;

  display: block;
  object-fit: cover;

  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
} 

/* Project Titles */
header section {
  margin: 25px;
}

header section h1 {
font-size: 60px;
letter-spacing: normal;

color: var(--3);
}

section h3 {
font-size: 35px;
line-height: normal;

color: var(--3);

margin: 10px;
} 


/* Project Info */

#headerinfo {
  margin: 35px;
}

#metadata {
  background: rgba(225, 225, 225, 0.1);
  /* border: .1px solid var(--3); */
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
  display: flex;
  justify-content: space-around;

  margin: 0 60px 40px 60px;
  padding: 15px;
}


/* Button */
#finalProject {
  background: var(--2);
  color: var(--1);
  text-decoration: none;
  padding: 7px 25px 7px 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.15s linear;
}

#finalProject:hover {
  background: var(--5);
  box-shadow: inset 0 3px 10px rgb(0 0 0 / 0.2);
  color: var(--3);
}

#projinfo {
  display: flex;
  justify-content: space-around;
  gap: 70px;

  margin: 0px auto 0 auto;
  width: 80%;
  min-width: 884px;
}

/* Rest of page info */

/* All Section imgs */

/* section img {
  max-width: 500px;
} */

/* width 50% for anything */
 .fifty {
  width: 50%;
}

.forty {
  width: 40%;
}


/* Two next to each other */
.twoNext {
  display: flex;
  justify-content: center;
  
  gap: 50px;
}

/* margin for all sections */
.marg {
  margin: 100px;
}

/* This is for GD art direction. One on top of another */
.artDirection {
  display: flex;
  flex-direction: column;
width: 50%;
max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Sections that have centered text */
.centerText{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
} 

/* centered titles */
.centerTitle {
  text-align: center;
}

/* bottom margin for text sections that are centered */
.center {
  margin-bottom: 50px;
}

/* Styling for text rect */
.square {
  background: rgba(225, 225, 225, 0.1);
  /* border: .1px solid var(--3); */
  border-radius: 25px;

  padding: 30px;
  width: 574px;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Styling for just titles */
.block {
  background: rgba(225, 225, 225, 0.1);
  /* border: .1px solid var(--3); */
  border-radius: 25px;
  
  margin-bottom: 80px;
  
   padding: 15px 45px 15px 45px;
}


/* Align self for flex */
.alignCenter {
  align-self: center;
}

/* Grid for three items, two on left, one of right. */
.threeGrid {
  display: grid;
  grid-template: 20% 260px / auto auto;
  justify-content: center;
 

  gap: 50px;
  height: auto;
}

/* Grid for three items - item 1 top left */
.threeGrid1 {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 90%;
  max-width: 574px;
}

/* Grid for three items - item 2 bottom left */
#threeGrid2 {
  grid-area: 1 / 2 / span 2 / span 1;
  width: 80%;
  background: white;
  padding: 30px;
  align-self: center;
  max-width: 434px;
}

/* Grid for three items - item three right */
#threeGrid3 {
  grid-area: 2 / 1 / span 1 / span 1;
  background: white;
  padding: 30px;
  width: auto;
  max-width: 574px;
}

/* Video Mockup */
.finalMockup {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


/* anything width 90% */
.ninety {
  width: 90%;
}

/* Three items in flex*/
.flexThree {
  display: flex;
  gap: 50px;
}

/* Size of the three items in flex*/
.flexThree img {
  width: 60%;
}

.sketches {
  width: 550px;
}

/* Three Grid for different sizes */
.threePiece {
  display: grid;
  grid-template: 430px 430px / 45% 45%;
  justify-content: center;
  gap: 50px;
  height: auto;

}

/* Three Grid for different sizes - top left */
.piece1 {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 90%;
  max-width: 574;
  justify-self: end;
  align-self: end;
}

/* Three Grid for different sizes - right */
.piece3 {
  grid-area: 1 / 2 / span 2 / span 1;
  width: 100%;
height: 100%;
}

/* Three Grid for different sizes - bottom left */
.piece2 {
  grid-area: 2 / 1 / span 1 / span 1;
  width: 90%;
  max-width: 574;
  justify-self: end;
  align-self: start;
}


/* Grid for residency examples */
.picGrid {
  width: 50%;
  /* gap: 5%; */
}

.ex {
  margin: 2%;
  width: 40%;
  height: auto;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.ex:hover {
  scale: 1.05;
  box-shadow: rgba(225, 225, 225, 0.4) 0px 13px 27px -5px, rgba(225, 225, 225, 0.6) 0px 8px 16px -8px;
  transition: all 0.15s linear;
}

/* till here */

/* Google Doodle Sketches */
.sixty {
  width: 60%;
}

/* For Codepen Portal */
.codepen {
  margin-top: -10px;
  padding-top: 0;
  width: 60%;
  
} 
 
/* For Codepen Portal */
 .cp_embed_wrapper { */
  /* required for resize to work */
  overflow: hidden; 

  /* make resizeble! */
   resize: both; 

  /* required to see the handle */
  padding: 100px;
padding-top: 50px; 
  /* default height */
   height: 600px;
}

.cp_embed_wrapper iframe {
  height: 100%;
}

/* Anything for 100% */
.hundred {
  width: 100%;
}

/* Footer */

footer {
  height: auto;
  
  background-image: url("../img/imgbg/footerBG.png");

  padding: 25px;
}

.footerLinks{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  margin-bottom: 18px;
}

.footerLinks a {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 18px;

  color: var(--3);
  text-decoration: none;
  letter-spacing: 2px;


}

.subLinks a{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;

  color: var(--3);
  text-decoration: none;
  letter-spacing: 2px;

  margin-left: 8px;
}

.footerLinks a:hover {
  text-decoration: 1px  line-through var(--3);
}



/* where hamburger menu comes in */
@media (max-width: 961px) {

  /* body {
    background: red;
  } */

  main {
    background-image: url("../img/imgbg/longBG.png");
    background-size: 100%;
    
    background-repeat: repeat;
  
      position: relative;
      z-index: 1;
      min-height: 100vh;
      
      
      /* x translate matches width of navigation */
      transform: translate( 0, 0);
        /* animate with transition */
      transition: transform .25s;
      
  }
  
  /* Main Content : Show Menu */
  main.open {
    transform: translate( -180px, 0);
    
  }

  main.open a.toggle-nav img{
    transform: translate( 180px, 0);
  }


  .hamNav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    width: fit-content;
    
    /* position'ing */
    position: fixed;
    top: 35px;
    right: 0;
    height: 200px;

    margin: 50px;
    
  }

  .hamNav a {
    display: block;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
  
    color: var(--3);
    text-decoration: none;
    letter-spacing: 2px;
  }

  .smallLinks {
    margin-top: -15px;
  }

  .smallLinks a{
    color: var(--3);
font-size: 14px;

  padding: 5px 3px;
  text-decoration: none;
  display: block;
  }
  
  .hamNav a:hover {
    text-decoration: 1px  line-through var(--3);
  }

  nav {
    padding-right: 20px;
  }

  a.toggle-nav {
    display: block;
  }
  
  a.toggle-nav {
    align-self: flex-start;
    padding-top: .5em;
    text-decoration: none;
    margin-right: 15px;
  }
  
  /* Menu Button Icon */
  a.toggle-nav img {
    align-self: flex-start;
    /* vertical-align: middle; */
  }

  #rosebg {
    background-size: 275px;
    background-position: 55% 12px; 
  
 height: 370px;
  }
  
  #rosebgShort {
    background-size: 275px;
    background-position: 55% 12px; 
  
    height: 222px;

  
  }

  h1 {
    font-size: 60px;
    letter-spacing: 8px;
  }

  h3 {
    font-size: 30px;
  }

  .links {
    display: none;
  }

  .portfolioGrid {
    grid-template: repeat(4, 150px) / repeat(4, 150px);
    width: 600px;
    height: 600px;
  }

  .portfolioImg a {
    height: 300px;
    width: 300px;
  }

  .portfolioImg img {
    height: 300px;
    width: 300px;
  }

  .img__description_layer {
    height: 300px;
    width: 300px;
  }


  .projectGrid {
    grid-template: repeat(7, 49px) / 300px 300px;
    gap: 35px;
  }

  #headerInfo {
    margin-bottom: -25px;
  }

  #headerInfo p{
    padding: 0 10px 0 10px;
  }

  #metadata {
    flex-wrap: wrap;
 
  }

  #projinfo {
    width: 90%;
    min-width: unset;
    gap: 5%;
  
  }
  



  #finalProject {
    margin-top: 25px;
  }
  h4 {
    font-size: 25px;
  }

 p{
    font-size: 16px;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 50px;
    margin: 50px;
    padding: 0;
    }
    
    #about img{
      max-width: 400px;
      width: 70%;
      align-self: center;
    }

    #contact h3{
      font-size: 30px;
    }

    #contact h4 {
      font-size: 25px;;
    }

    #contactLinks {
      width: 200px;
      margin: 60px auto 100px auto;
    }

    #contactLinks svg {
      width: 50px;
    }
  
}


@media (max-width: 601px) {

  /* body {
    background: blue;
  } */


  #rosebg {
    background-size: 300px;
    background-position: 55% 12px; 
  
  height: 265px;
  }
  
  #rosebgShort {
    background-size: 300px;
    background-position: 55% 12px; 
  
    
  height: 230px;
  
  }

  h1 {
    font-size: 45px;
    letter-spacing: 6px;
  }

  h3 {
    font-size: 25px;
  }

  #contact {
    margin-top: 50px;
  }

  #contact h3{
    font-size: 25px;
  }

  #contact h4 {
    font-size: 20px;;
  }
  
  .portfolioGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width:400px;
    height: 100%;
  }

  .portfolioImg a {
    height: 350px;
    width: 350px;
  }

  .portfolioImg img {
    height: 350px;
    width: 350px;
  }

  .img__description_layer {
    height: 350px;
    width: 350px;
  }

  .projectGrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
  
      height: 100%;
    
  }

  #headerinfo {
    background: rgba(225, 225, 225, 0.1);
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 15px;
  margin: 0 60px 40px 60px;
}

  #metadata {
  background:none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0px 20px 0;
  }


  #projHeader  {
    height: 220px;
  } 

  header section h1 {
    font-size: 40px;
    }

section h3 {
  font-size: 18px;
  } 

#projinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projinfo h4{
  text-align: center;
}

.fifty {
  width: 85%;
}

.twoNext {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 50px;
}

.twoNext h4
{
  text-align: center;
}

.twoNext img{
  order: 2;
}
.marg {
  margin: 50px;
}

.threePiece {
  display: flex;
  flex-direction: column;
}

.piece2 {
  order: 3;
}

iframe {
  width: 400px;
}

.piece3 {
  height: 800px;
}

.square {
  width: 370px;
}

.finalMockup {
margin-bottom: 50px;
}

#info {
  width: 95%;
}

#contactLinks {
  width: 170px;
}

#contactLinks svg {
  width: 40px;
}

}


@media (max-width: 26em) {

  /* body{
    background: purple;
  } */

  .links {
    display: none;
  }

  h1 {
    font-size: 33px;
    letter-spacing: 4px;
  }

  h3{
    font-size: 20px;
  }

  header section h1 {
    font-size: 30px;
    }

section h3 {
  font-size: 20px;
  } 

  #projHeader {
    width: 90%;
  }

  #headerinfo {
    margin: 0 20px 40px 20px;
    padding: 5px;
  }

  .fifty {
    width: 100%;
  }

  .portfolioGrid {
    width: 250px;
  }

  .portfolioImg a {
    height: 250px;
    width: 250px;
  }

  .portfolioImg img {
    height: 250px;
    width: 250px;
  }

  .img__description_layer {
    height: 250px;
    width: 250px;
  }

  .footerLinks a{
    font-size: 14px;
    margin-left: 0;
  }

  .subLinks a{
    font-size: 10px
  }


  .marg {
    margin: 50px 0 50px 0;
  }

  .square {
    width: 250px;
  }

  iframe {
    width: 310px;
  }

  .piece1 , .piece2{
    align-self: center;
  }

  .piece3 {
    width: 310px;
  }
  
}
 
